<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zc.oj.mapper.UserProfileMapper">

    <resultMap id="UserProfile" type="edu.zc.oj.entity.UserProfile">
        <id property="id" column="id"/>
        <result column="user_id" property="userId"/>
        <result column="slogan" property="slogan"/>
        <result column="github" property="github"/>
        <result column="blog" property="blog"/>
        <result column="major" property="major"/>
        <result column="problem_status" property="problemStatus"/>
        <result column="real_name" property="realName"/>
        <result column="college" property="college"/>
    </resultMap>

    <select id="findUserProfile" resultType="edu.zc.oj.entity.UserProfile">
        select * from `user_profile`
    </select>

</mapper>