<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.zc.oj.mapper.UserProfileMapper">

    <resultMap id="UserProfile" type="edu.zc.oj.entity.UserProfile">
        <id property="id" column="id"/>
        <result column="id" property="id"/>

    </resultMap>

    <select id="findUserProfile" resultType="edu.zc.oj.entity.UserProfile">
        select * from `user_profile`
    </select>

</mapper>